<!DOCTYPE html>
<html>
<head>
    <title>Company Characteristics</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Home Button -->
    <a class="btn" href="{{ url_for('home') }}">Home</a>

    <h2>Company Characteristics</h2>

    <p>{{ characteristics }}</p>

    {% if session.get('user') %}
        <a class="btn" href="/edit_characteristics">Edit Characteristics</a>
    {% endif %}
    
<a class="btn" href="/submit_ticket">Report a Violation</a>

</body>
</html>
